{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-md-center">
    <div id="buttons-tables" class="m-1 p-1 col col-lg-8">
        <div class="m-1 p-1">
            <a href="application" class="btn btn-primary" role="button">Сформировать заявку</a>
        </div>
        <div class="m-1 p-1">
            <a href="client/add" class="btn btn-primary" role="button">Добавить клиента</a>
        </div>
        <div class="m-1 p-1">
            <a href="client/edit" class="btn btn-primary" role="button">Найти клиента</a>
        </div>
    </div>
    <!--        <div class="col col-lg-5">-->
    <!--            <h2>Узнайте погоду в вашем городе</h2>-->
    <!--            <div class="mt-2 p-2">-->
    <!--                <form action="" method="post">-->
    <!--                    {% csrf_token %}-->
    <!--                    <h6>Город</h6>-->
    <!--                    {{ form.name }}-->
    <!--                    <div class="mt-1 pt-1">-->
    <!--                        <button type="submit" class="btn btn-primary">Поиск</button>-->
    <!--                    </div>-->
    <!--                </form>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="col col-lg-4">-->
    <!--            <h2>Информация</h2>-->
    <!--            {% for inf in info %}-->
    <!--            <div class="alert alert-secondary">-->
    <!--                <div class="row justify-content-between">-->
    <!--                    <div class="col col-lg-8">-->
    <!--                        <b>Город: </b> {{inf.city}}<br>-->
    <!--                        <b>Температура: </b> {{inf.temp}}<sup>o</sup><br>-->
    <!--                        <b>Ощущается как : </b> {{inf.fltemp}}<sup>o</sup><br>-->
    <!--                        <b>Видимость: </b> {{inf.visibility}} km<br>-->
    <!--                        <b>UTC+ </b> {{inf.timezone}} ч.<br>-->
    <!--                    </div>-->
    <!--                    <div class="col col-lg-4">-->
    <!--                        <img src="http://openweathermap.org/img/w/{{inf.icon}}.png" alt="Картинка"-->
    <!--                             class="img-thumbnail">-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            {% endfor %}-->
    <!--        </div>-->
</div>
{% endblock %}